<% include partials/header %>

<div class = 'container jumbotron text-center'>
	<h1>Landing page</h1>
	<p>Welcome to the BootCamp</p>

	<a class="btn btn-primary btn-lg" href="/index">View All Campgrounds</a>
</div>

<% include partials/footer %>
