<% include partials/header %>

	<div class = container>	
		<header class="jumbotron">
			<div class = "container">
				<h1>Welcome to the Campground</h1>
				<p>View our Campground in Bangladesh</p>
				<p>
					<a class="btn btn-primary btn-lg" href="campgrounds/form">Add new Campground</a>
				</p>
			<div>
		</header>

	<div class = "row" style="display: flex; flex-wrap: wrap;">
		<%campgrounds.forEach((ground)=>{%>
			<div class = "col-md-3 col-sm-6">
				<div class = "thumbnail">
					<img src = "<%= ground.image %>">
					<div class = "caption">
						<h4 class= "text-center"><%= ground.name %></h4>
					</div>
				</div>
			</div>
		<%});%>
	</div>
	
</div>

<% include partials/footer %>